# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook with markdown and code cells. 
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub

### Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. SQL

### Some of the commonly used libraries used by Data Scientist include: 
1. Pandas 
2. NumPy 
3. GGplot

| Data Science Tools|
| ------------------|
|Jupyter Notebook |
|Visual Studio Code |
|R studio |

### Below are a few examples of evaluating arithmetic expression in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Jennifer Rodriguez